{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src/Framework"
        ],
        "excludes": [
            "Framework/Auth/Database/Migrations",
        ],
    },
    "timeout": 180,
    "mutators": {
        "@default": true,
        "@arithmetic": true,
        "@boolean": true,
        "@cast": true,
        "@conditional_boundary": true,
        "@conditional_negotiation": true,
        "@equal": false,
        "@function_signature": true,
        "@identical": true,
        "@number": true,
        "@operator": true,
        "@regex": true,
        "@removal": true,
        "@return_value": true,
        "@sort": true,
        "@loop": true,
        "@unwrap": true,
        "@extensions": true,
        "Foreach_": true,
        "For_": true,
    },
    "logs": {
        "html": "build/infection.html",
        "text": "build/infection.log"
    },
    "testFramework": "phpunit"
}
